.header {
    margin-bottom: 200px;
}

.buttons {
    margin-bottom: 20px;
}

.checkbox-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.checkbox-item {
    flex: 1 0 calc(50% - 5px);
    display: flex;
    align-items: center;
}

.checkbox-item input[type="checkbox"] {
    margin-right: 5px;
}

.buttons {
    margin-bottom: 40px;
}
